{
    padding: 0;
    margin: 0;
}

main{
    background-imgae: url("assets/images/bg.jpg");
    height: 80vh;
}

main.box{
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: 100vw;
    background-repeat: no-repeat; 
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    position: relatives;
    top:0;
    background-color: black;
}

nav{
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav button{
    position: 100%;
    Display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.hero{
    font-family:'Martel Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
}


.hero : first-child{
    font-weight: bolder;
    font-size: 40px;
}

.hero :nth-child(2){
    font-weight: 400;
    font-size: 20px;
}

.hero :nth-child(3){
    font-weight: 400;
    font-size: 20px;
}

.separation{
    height: 11px;
    background-color: gray;    
}

.secImg img{
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secImg video{
    position: absolute;
    top: S1px;
    right: 0;
}

section.first > div{
    display: flex;
    flex-direction: column;
}

Section.first > div: nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}

Section.first > div:nth-child(2){
    font-size: 24px;
}

.faq h2{
    text-align: center;
}

.faq{
    background: black;
    color: white;
    padding: 34px;
}

.faqbox {
    display: flex;
    justify-content: space-between;
    background-color: gray; 
    padding: 24px;
    flax-width: 40vw;
    margin: 34px auto;
    cursor: pointer;   
}
